<h1> Graduation Requirements</h1>
<h2>
  <% @requirement.diplomas.each do |diploma| %>
  <%= diploma.requirement.year %>
</h2>

  <% end %>

<table>
  <thead>
    <tr>
      <th>Diploma Name</th>
      <th>Requirement Year</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requirement.diplomas.each do |diploma| %>
      <tr>
        <td><%= diploma.name %></td>
        <td><%= diploma.requirement.year %></td>
        <td><%= diploma.requirement.description%></td>
        </tr>


      </tbody>
      </table>

<% diploma.subjects.each do |subject| %>
            <ul>
            <li>Subject: <%= subject.name %>    Requisite: <%= subject.requisite %></li>
            </ul>
        <% end %>

  <% end %>





<br>
  <br>
<%= link_to 'Back to Requirements', requirements_path %>