<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @diploma.name %>
</p>

<p>
  <strong>Requirement:</strong>
  <%= @diploma.requirement %>
</p>


<%= link_to 'Edit', edit_diploma_path(@diploma) %> |
<%= link_to 'Back', diplomas_path %>
