<p id="notice"><%= notice %></p>

<body>
<p>
  <strong>Name:</strong>
  <%= @counselor.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @counselor.bio %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @counselor.contact %>
</p>

</body>

<%= link_to 'Back', counselors_path %>
