<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @requirement.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @requirement.description %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
