
<h1>SAT/ACT Test Dates</h1>
<%= paginate @tests %>


<table class="table table-striped table-bordered table-collapse">
  <thead>
    <tr>
      <th id="TH_1"><%= link_to 'Test name', sort: 'name'%></th>
      <th id="TH_1"><%= link_to 'Test date', sort: 'test_date'%></th>
      <th id="TH_1"><%= link_to 'Registration deadline', sort: 'registration_deadline' %></th>
      <th id="TH_1">Locations</th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.name %></td>
        <td><%= test.test_date %></td>
        <td><%= test.registration_deadline %></td>
        <td><%= link_to 'View', test_locations_path(test) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

