
<h1 class="text-center">SAT/ACT Test Dates</h1>
<%= paginate @tests %>
<div>
  <div>

  <table id="customers", class= "table table-striped">
  <thead>
    <tr class="alt">
      <th><%= link_to 'Test name', sort: 'name'%></th>
      <th><%= link_to 'Test date', sort: 'test_date'%></th>
      <th><%= link_to 'Registration deadline', sort: 'registration_deadline' %></th>
      <th>Locations</th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.name %></td>
        <td><%= test.test_date %></td>
        <td><%= test.registration_deadline %></td>
        <td><%= link_to 'View', test_locations_path(test) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

