<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Test date:</strong>
  <%= @test.test_date %>
</p>

<p>
  <strong>Registration deadline:</strong>
  <%= @test.registration_deadline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
