

<div class="container">
  <h4><%= @test.name %></h4>
  <h4>Test date:<%= @test.test_date %></h4>

  <h4>Registration Deadline:<%= @test.registration_deadline %></h4>
  </div>

  <h5>Listing locations</h5>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Test code</th>
      <th>School code</th>
      <th>Test</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test.locations.each do |location| %>
      <tr>
        <td><%= location.school %></td>
        <td><%= location.test_code %></td>
        <td><%= location.school_code %></td>
        <td><%= location.test.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


  <%= link_to 'Back to Tests', tests_path %>

