<!DOCTYPE html>
<html>
<head>
  <title>Guidance</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/yeti/bootstrap.min.css" rel="stylesheet">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>

  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Home</a>
      <a class="navbar-brand" href="#">About</a>
      <a class="navbar-brand" href="#">Counselors</a>
      <a class="navbar-brand" href="#">Graduation Requirements</a>
      <a class="navbar-brand" href="#">Events</a>
      <a class="navbar-brand" href="#">Testing</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign in</a></li>

        <li><div class="btn-toolbar">
          <div class="btn-group">
            <div class="btn-group">


              <ul class="dropdown-menu">
              </ul>
            </div>
          </div>
        </div></li>

      </ul>
    </div>
  </div>

  <%= flash.each do |type, message| %>
   <div class="alert flash <%= type %>">
     <% message %>
   </div>

    <% end %>

</header>
<main role="main">
<%= yield %>
</main>
</body>
</html>
