<!DOCTYPE html>
<html>
<head>
  <title>Guidance</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/united/bootstrap.min.css" rel="stylesheet">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>



  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', welcome_index_path %></li>
          <li><%= link_to 'Counselors', counselors_path %></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes" aria-expanded="false">Graduation Requirements <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="themes">
              <li><%= link_to '2011-2012', requirement_diplomas_path(Requirement.first) %></a></li>
              <li><a href="./cerulean/">2012-2013</a></li>
              <li><a href="./cosmo/">2013-2014</a></li>
              <li class="divider"></li>

            </ul>
          </li>
          <li>
          <li><%= link_to 'Testing', tests_path %></li>
          </li>
          <li>
            <%= link_to 'Events', events_path %>
          </li>
          <li><%= link_to 'Senior Checklist', lists_path %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Schools', schools_path %></li>
          <li><%= link_to 'Admin', admin_root_path %>
            </li>
        </ul>

      </div>
    </div>
  </div>




<main role="main">
<%= yield %>
</main>
  <footer>
    <div class="text-right">
      Blake High School 2014
    </div>
  </footer>
</body>
</html>
